<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head"></head>

<body>

	<header th:replace="layout/layout :: header"></header>


	<div class="container py-4">
		<div class="card bg-light">
			<h4 class="text-secondary" th:text="${titulo}">
			</h4>




			<form th:action="@{/form-customer}" th:object="${customer}" method="post">
				<table class="table table-bordered">
					<tr>
						<td style="width: 200px;">CPF</td>
						<td>
							<input type="text" th:field="*{cpf}" class="form-control"
								th:errorclass="'form-control alert-danger'" />
							<small class="form-text text-danger" th:if="${#fields.hasErrors('cpf')}"
								th:errors="*{cpf}"></small>
						</td>
					</tr>
					<tr>
						<td>Nome completo</td>
						<td>
							<input type="text" th:field="*{fullName}" class="form-control"
								th:errorclass="'form-control alert-danger'" />
							<small class="form-text text-danger" th:if="${#fields.hasErrors('fullName')}"
								th:errors="*{fullName}"></small>
						</td>
					</tr>
					<tr>
						<td>Endereço</td>
						<td>
							<input type="text" th:field="*{address}" class="form-control"
								th:errorclass="'form-control alert-danger'" />
							<small class="form-text text-danger" th:if="${#fields.hasErrors('address')}"
								th:errors="*{address}"></small>
						</td>
					</tr>
					<tr>
						<td>Data de início</td>
						<td>
							<input type="text" th:field="*{creatAt}" class="form-control"
								th:errorclass="'form-control alert-danger'" />
							<small class="form-text text-danger" th:if="${#fields.hasErrors('creatAt')}"
								th:errors="*{creatAt}"></small>
						</td>
					</tr>
					<tr>
						<td>Email</td>
						<td>
							<input type="email" th:field="*{email}" class="form-control"
								th:errorclass="'form-control alert-danger'" />
							<small class="form-text text-danger" th:if="${#fields.hasErrors('email')}"
								th:errors="*{email}"></small>
						</td>
					</tr>
					<tr>
						<td>Telefone</td>
						<td>
							<input type="text" th:field="*{phone}" class="form-control"
								th:errorclass="'form-control alert-danger'" />
							<small class="form-text text-danger" th:if="${#fields.hasErrors('phone')}"
								th:errors="*{phone}"></small>
						</td>
					</tr>
					<tr>
						<td></td>
						<td>
							<input type="submit" value="Criar Cliente" class="btn btn-primary" />
						</td>
					</tr>
				</table>
				<input type="hidden" th:field="*{id}" />
			</form>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>

</html>