<html xmlns:th="http://www.thymeleaf.org" 
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/layout :: head"></head>

<body>

	<header th:replace="layout/layout :: header"></header>


	<div class="container py-4">


		<h4><a sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-success btn-sm" 
		        th:href="@{'/sales/form/' + ${customer.id}}"
				th:text="'orden de compra'"></a></h4>



		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">
				<ul class="list-group">


					<div class="form-group row">
						<label class="col-sm-2 col-form-label">CPF</label>
						<div class="col-sm-6">
							<li class="list-group-item" th:text="${customer.cpf}"></li>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Nome completo</label>
						<div class="col-sm-6">
							<li class="list-group-item" th:text="${customer.fullName}"></li>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Endereço</label>
						<div class="col-sm-6">
							<li class="list-group-item" th:text="${customer.address}"></li>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Data de início</label>
						<div class="col-sm-6">
							<li class="list-group-item" th:text="${customer.creatAt}"></li>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Email</label>
						<div class="col-sm-6">
							<li class="list-group-item" th:text="${customer.email}"></li>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Telefone</label>
						<div class="col-sm-6">
							<li class="list-group-item" th:text="${customer.phone}"></li>
						</div>
					</div>

					<div th:if="${#lists.isEmpty(customer.salesOrders)}" class="alert alert-info my-4"
						th:text="'Não há pedidos de compra para exibição do cliente:  ' + ${customer.fullName}"></div>
					<table th:if="${not #lists.isEmpty(customer.salesOrders)}"
						class="table table-bordered table-striped my-4">
						<thead>
							<tr>
								<th>id</th>
								<th>descrição</th>
								<th>data</th>
								<th>total</th>
								<th sec:authorize="hasRole('ROLE_ADMIN')">ver</th>
								<th sec:authorize="hasRole('ROLE_ADMIN')">Eliminar</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="salesOrder: ${customer.salesOrders}">
								<td th:text="${salesOrder.id}"></td>
								<td th:text="${salesOrder.description}"></td>
								<td th:text="${salesOrder.createAt}"></td>
								<td th:text="${salesOrder.total}"></td>
								<td sec:authorize="hasRole('ROLE_ADMIN')">
									<a class="btn btn-primary btn-xs"
										th:href="@{'/sales/show/' + ${salesOrder.customer.id}}" th:text="'detalhe'"></a>
								</td>
								<td sec:authorize="hasRole('ROLE_ADMIN')">
									<a class="btn btn-danger btn-xs"
										th:href="@{'/sales/delete/' + ${salesOrder.customer.id}}" th:text="'eliminar'"
										onclick="return confirm('Tem certeza de que deseja excluir o pedido de compra?');"></a>
								</td>
							</tr>
						</tbody>
					</table>







			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>

</html>